<!DOCTYPE html>
<html>
<head>
<%- include("partials/header.ejs") %>
</head>

<body>
    <main>
    <div class="container-fluid">
      <div class="container py-4">
      
        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Danny Chen</h1>
            <p class="col-md-8 fs-4">I am seeking challenging junior or entry-level work in front-end web development. As a Developer, I have experience in HTML, CSS, bootstrap and JavaScript. Combined with my recent internship in front-end web development with iReel, I am confident I have the skills to help my next employer succeed.  </p>
            <button class="btn btn-primary btn-lg" type="button">Example button</button>
          </div>
        </div>
    
        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3">
              <h2>Change the background</h2>
              <!-- p to space out  -->
              <p></p>
              <p>With a background in computer science, my studies have equipped me with competence in      various programming languages, cybersecurity, web development, and the ability to create integrated websites and retract data from APIs. </p><p>Through studying computer science, I have gained technical skills in various tools including JavaScript, Node, Python, SQL, Express, and a range of frameworks and React applications.</p>
              <button class="btn btn-outline-light" type="button">Example button</button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5 bg-body-tertiary border rounded-3">
              <h2>Add borders</h2>
              <p>I am incredibly enthusiastic about immersing myself in front-end web development. When I first moved to the country, due to my visa conditions and the language barrier I couldn't continue pursuing my passion. However, now that I have obtained my Permanent Residence and have years of experience speaking and writing in English, I believe it's time to revisit it. With each new challenge, I see an opportunity to expand my knowledge and refine my skills. I am driven by a relentless curiosity and a deep-seated passion for innovation. I am eagerly looking forward to the chance to make a tangible impact in this dynamic and rapidly evolving field. Ultimately, my goal is to build a successful and fulfilling career in web development, where I can contribute my skills and expertise to shape the future of the industry.</p>
              <button class="btn btn-outline-secondary" type="button">Example button</button>
            </div>
          </div>
        </div>
      </div>
    
        <h2 class="display-6 text-center mb-4 mt-4">Skills</h2>
    
        <div class="table-responsive">
          <table class="table text-center">
            <thead>
              <tr>
                <th style="width: 34%;"></th>
                <th style="width: 22%;">Free</th>
                <th style="width: 22%;">Pro</th>
                <th style="width: 22%;">Enterprise</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="text-start">React</th>
                <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                      <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                    </svg>
                </td>
                <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                      <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
                    </svg>
                </td>
                <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                      <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z"/>
                    </svg>
                </td>
              </tr>
              <tr>
                <th scope="row" class="text-start">JavaScript</th>
                <td></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
              </tr>
            </tbody>
    
            <tbody>
              <tr>
                <th scope="row" class="text-start">Express</th>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Node.js</th>
                <td></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
              </tr>
              <tr>
                <th scope="row" class="text-start">CSS</th>
                <td></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Html</th>
                <td></td>
                <td></td>
                <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
     <!-- footer -->
     <%- include("partials/footer.ejs") %>
    </main>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>