<!DOCTYPE html>
<html>
    <head>
    <%- include('partials/header.ejs') %>
    </head>

  <body>
  <main>

        <!-- first content -->
          <div class="row justify-content-center my-5 video">
            <div class="col-lg-8">
              <div class="p-5 text-center bg-body-tertiary rounded-3 video">
                <div class="ratio ratio-16x9">
                  <video class="embed-responsive-item video "controls autoplay muted>
                    <source src="/images/Beige Retro TV Music Ball Video.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
            </div>
          </div>
        <!-- Second content -->
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5 container-fluid">
            <div class="col-10 col-sm-8 col-lg-6">
              <img src="/images/Rainy Basketball.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Responsive left-aligned hero with image</h1>
                <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
              </div>
            </div>
          </div>
        <!-- footer -->
        <%- include("partials/footer.ejs") %>

</main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>