/* small screen for phones */
@media (width <= 768px) {
    .centered-search-bar {
        min-height: 30vh; /* 使用 min-height 保持最小高度 */
    }
}

/* Search bar in center for big screen  */
@media (width >= 769px) {
    .centered-search-bar {
        min-height: 30vh; /* 使用 min-height 保持最小高度 */
    }
}

html{
    color-scheme: dark;
}

/* Customize CSS for search bar  */
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#3C4048;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#3C4048;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color:#3C4048;
}
/* nav bar */
.navbar-back-ground{
    background-color: #454545 !important; 
}
/* dropdown font size adjustment */
.navbar-nav .nav-link.dropdown-toggle{
    font-size: 1.25rem;
}
/* About size adjustment */
.navbar-nav .nav-item{
    font-size: 1.25rem;
}
/* btn Customize */
.btn{
    background-color: #FFA62F;
    border: 0px;
}
.btn:hover{
    background-color: #FFC96F;
}

.bi-house{
    transform: scale(2);
    margin-bottom: 3px;
    margin-left: 10px;
    color: #FFA62F;
    
}
.bi-house:hover{
    color: #FFC96F;
}
.c-item img {
    max-height: 620px; /* adjust height */
    width: 100%;
    object-fit: cover; /* stay the same ratio to fit in */
  }

.centered-search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 70vh; 70%占據整個視窗高度 */
}
.search-bar{
    width: 75%;
}
.input-back-ground{
    background-color: #EBE3D5 !important;
}

.dropdown-item-custom:hover{
    color: #3C4048 !important;
}
.dropdown-item-custom{
    background-color:#7D7D7D !important ;
    font-size: 1.25rem;
}
/* @media (height >= 667px ) screen and (orientation: portrait) {
    .video {width: 375px}
  };
     */
.video{
    object-fit: cover;
}
#about{
    color: #DD761C;
}
#dropdown-menu-first-one{
    font-size: 19px;
}
#dropdown-items{
    font-size: 12px;
}

.parallax {
    /* The image used */
    background-image: url("/images/Rainy_Basketball.jpg") !important;
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* for mobile  */
    position: relative;
    transform: translate3d(0,0,0);
    will-change: transform;
  }
  
.content {
    background-color: rgba(255, 255, 255, 0.7); /* Optional: Adds a white background with transparency to content */
    padding: 20px;
    
}
.MJ{
    border-radius: 5%;
}
.ccontent{
    color: #DD761C;
    font-weight:bold;
}
.lead{
    font-weight:600;
}
.result-top{
    padding-top: 50px;
}
.result-h1{
    margin-bottom: 100px;
}
.More-Details{
    margin-bottom: 50px;
}
